.block-3 {
    background-color: #e5e5e5;
    border: 1px solid grey;
    border-radius: 0.25rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    .temp-icon-p2 {
        font-size: 25px;
    }

    .humidity-icon-p2 {
        font-size: 20px;
    }

    @media screen and (min-width: 768px) {
        h5 {
            font-size: 25px;
        }

        img {
            width: 18%;
        }

        .temp-icon-p2 {
            font-size: 35px;
        }

        .humidity-icon-p2 {
            font-size: 30px;
        }

        p {
            font-size: 25px;
        }
    }
}

