.block-3 {
    background-color: #e5e5e5;
    border: 1px solid grey;
    border-radius: 0.25rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    .temp-icon-p2 {
        font-size: 22px;
    }

    .humidity-icon-p2 {
        font-size: 18px;
    }
}