.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    padding-top: 25px;

    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    ::placeholder {
      font-size: 14px;
    }

}
  
  button {
    padding: 10px 20px;
    background-color: #F85656;
    color: white;
    border: none;
    cursor: pointer;

    button:hover {
      opacity: 70%;
    }
  }
  
  
  