.day {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0;
}

.city {
    display: flex;
    justify-content: center;
    font-size: 25px;
}