#searchBar {
  text-align: center;
  padding: 20px;
  input {
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid black;
    width: 70%;
    text-align: center;
  }
  input:focus {
    outline: none;
  }

  @media screen and (min-width: 768px ) {

    input {
      font-size: 23px;
    }
        
        
  }
}