.weather {
    background-color: #e5e5e5;
    border: 1px solid grey;
    border-radius: 0.25rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    &:hover {
        background-color: beige;
        cursor: pointer;
    }

    .block-1 {
        width: 100%;
        height: 24px;
        font-weight: bold;
        font-size: 18px;
        margin: 4px;
    }

    .block-2 {
        width: 100%;
        height: calc(100% - 24px);

        .block-2-1, .block-2-2 {
            width: 100%;
            height: 100%;

            .temp-icon {
                font-size: 22px;
            }

            .humidity-icon {
                font-size: 18px;
            }
    
            h5 {
                font-size: 16px;
                margin-bottom: 0px;
            }

            p {
                font-size: 16px;
                margin-bottom: 0px;
            }
        }
    }
}